$header_bg: #FAFAFA;
$main_bg: #F1F1F2;
$blog_bg: #231F20;
$light_shadow: rgb(233, 233, 233);


$white_btn_bg: #ececec;

$orange: #F7941E;
$white: #FFFFFF;
$black: #000000;



$font: 'Montserrat', sans-serif;